$black: #000;
$white: #fff;
$text: #32373c;
$text-mid: lighten($text, 50%);
$text-light: lighten($text, 70%);
$white-transparent: rgba(#fff, .1);
$black-transparent: rgba(#000, .1);
$accent: #005676;
$accent-2: #4caf50;

$colors: ('pale-pink' : #f78da7,
	'vivid-red' : #cf2e2e,
	'luminous-vivid-orange' : #ff6900,
	'luminous-vivid-amber' : #fcb900,
	'light-green-cyan' : #7bdcb5,
	'vivid-green-cyan' : #00d084,
	'pale-cyan-blue' : #8ed1fc,
	'vivid-cyan-blue' : #0693e3,
	'vivid-purple' : #9b51e0,
	'very-light-gray' : #eee,
	'cyan-bluish-gray' : #abb8c3,
	'very-dark-gray' : #313131,
);

$social-colors: ('amazon', #f90),
('bandcamp', #1ea0c3),
('behance', #0757fe),
('codepen', #1e1f26),
('deviantart', #02e49b),
('dribbble', #e94c89),
('dropbox', #4280ff),
('etsy', #f45800),
('facebook', #1977f2),
('fivehundredpx', #000),
('flickr', #0461dd),
('foursquare', #e65678),
('github', #24292d),
('goodreads', #eceadd, #382110),
('google', #ea4434),
('instagram', #f00075),
('lastfm', #e21b24),
('linkedin', #0577b5),
('mastodon', #3288d4),
('medium', #02ab6c),
('meetup', #f6405f),
('pinterest', #e60122),
('pocket', #ef4155),
('reddit', #fe4500),
('skype', #0478d7),
('snapchat', #fefc00, #fff, #000),
('soundcloud', #ff5600),
('spotify', #1bd760),
('tumblr', #011835),
('twitch', #6440a4),
('twitter', #21a1f3),
('vimeo', #1eb7ea),
('vk', #4680c2),
('wordpress', #3499cd),
('yelp', #d32422),
('youtube', #ff0100);
