// Media Queries
$mq-small: "only screen and (min-width : 480px)";
$mq-small-only: "only screen and (max-width : 481px)";
$mq-big: "only screen and (min-width : 782px)";
$mq-bigger: "only screen and (min-width : 960px)";
$mq-biggest: "only screen and (min-width : 1080px)";

