$light-weight: 300;
$normal-weight: 300;
$strong-weight: 700;
$font-body: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Oxygen-Sans,
Ubuntu,
Cantarell,
"Helvetica Neue",
sans-serif;

// Font Sizes
$type-micro: .61em;
$type-smallest: .67em;
$type-smaller: .76em;
$type-small: .9em;
$type-base: 100%;
$type-bump: 1.1em;
$type-large: 1.25em;
$type-larger: 1.5em;
$type-largest: 2em;
$type-jumbo: 2.5em;

$font-alignment: ('center',
	'left',
	'right',
	'justify'
);
