.block-editor {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	.edit-post-visual-editor {
		line-height: 1.75;
	}

	.editor-rich-text__tinymce a {
		color: $accent;
	}

	.editor-post-title .editor-post-title__input {
		font-size: $type-largest;
		font-weight: $strong-weight;
	}

	.edit-post-sidebar .is-style-outline .wp-block-button__link {
		color: $accent !important;
	}

	.block-library-button__inline-link {

		input[type="text"],
		.components-button {
			border: 1px solid $text-light;
			background-color: $white;
		}

		input[type="text"] {
			max-width: 298px;
		}
	}
}

body.gutenberg-editor-page {
	font-size: 100%;
}

/* https://twitter.com/phpbits/status/1235157715384598530*/
.editor-block-list__layout .editor-block-list__block {
	>.editor-block-list__block-edit::before {
		border: 1px solid $text-light;
	}

	&[data-type="core/columns"]>.block-editor-block-list__block-edit::before {
		border: 2px dotted $text-light;
		right: -40px;
		left: -40px;
	}
}
