.wp-block-latest-posts {
	&:before {
		position: absolute;
		right: 0;
		left: 0;
		content: ' ';
		top: 0;
		bottom: 0;
		background-color: rgba(white, 0);
		z-index: 1;
	}
}

.block-editor-image-alignment-control__row {
	.components-base-control__field {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.components-base-control__label {
			margin-bottom: 0;
		}
	}
}
