@mixin button-default($display:table) {
	cursor: pointer;
	padding: 8px 24px;
	text-align: center;
	text-transform: uppercase;
	width: auto;

	@if $display {
		display: $display;
	}

	@if $display==table {
		margin: 0 auto;
	}
}

@mixin button($display:table) {
	@include button-default($display);
}

@mixin clear-button {
	@include button-default;
	background-color: transparent;
	color: $text;

	&:hover {
		color: $accent;
	}
}

@mixin button-colors($background:$white, $color:$accent) {
	background-color: $background;
	color: $color;

	&:focus,
	&:hover {
		background-color: $color;
		border-color: $background;
		color: $background;
	}
}
