.wp-block-media-text {
	direction: ltr;
	display: grid;
	align-items: center;
	grid-template-columns: 50% 1fr;
	grid-template-rows: auto;
	padding: 0;

	&.has-media-on-the-right {
		grid-template-columns: 1fr 50%;
	}

	&.is-vertically-aligned {
		&-top {

			.wp-block-media-text__content,
			.wp-block-media-text__media {
				align-self: start;
			}
		}

		&-center {

			.wp-block-media-text__content,
			.wp-block-media-text__media {
				align-self: center;
			}
		}

		&-bottom {

			.wp-block-media-text__content,
			.wp-block-media-text__media {
				align-self: end;
			}
		}
	}

	&__media {
		grid-column: 1;
		grid-row: 1;
		height: 100%;
		margin: 0;
	}

	&__content {
		direction: ltr;
		grid-column: 2;
		grid-row: 1;
		word-break: break-word;
		padding: 40px 8%;
	}

	&.has-media-on-the-right .wp-block-media-text {
		&__media {
			/*!rtl:begin:ignore*/
			grid-column: 2;
			grid-row: 1;
			/*!rtl:end:ignore*/
		}

		&__content {
			/*!rtl:begin:ignore*/
			grid-column: 1;
			grid-row: 1;
			/*!rtl:end:ignore*/
		}
	}

	>figure>img,
	>figure>video {
		display: block;
		max-width: unset;
		width: 100%;
	}

	&.is-image-fill figure {
		height: 100%;
		min-height: 250px;
		background-size: cover;

		>img {
			@include screen-reader-text;
		}
	}

	@media all and (-ms-high-contrast: none),
	(-ms-high-contrast: active) {
		display: flex;
	}

	@media #{$mq-small-only} {
		&.is-stacked-on-mobile {
			grid-template-columns: 100% !important;
			flex-wrap: wrap;

			.wp-block-media-text {
				&__media {
					grid-column: 1;
					grid-row: 1;
				}

				&__content {
					grid-column: 1;
					grid-row: 2;
				}
			}

			&.has-media-on-the-right .wp-block-media-text {
				&__media {
					grid-column: 1;
					grid-row: 2;
				}

				&__content {
					grid-column: 1;
					grid-row: 1;
				}
			}
		}
	}
}
