.wp-block-calendar {
	text-align: center;

	th,
	tbody td {
		padding: 4px;
		border: 1px solid $text-light;
	}

	tfoot td {
		border: none;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}

	table th {
		font-weight: $normal-weight;
		background: $text-light;
	}

	a {
		text-decoration: underline;
	}

	table tbody,
	table caption {
		color: $text-mid;
	}
}

