.wp-block-table {
	overflow-x: auto;

	table {
		width: 100%;
	}

	&.has-fixed-layout {
		display: table;
		table-layout: fixed;
		width: 100%;

		td,
		th {
			word-break: break-word;
		}
	}

	&.alignleft,
	&.aligncenter,
	&.alignright {
		display: table;
		width: auto;
	}

	$subtle-light-gray: #f3f4f5;
	$subtle-pale-green: #e9fbe5;
	$subtle-pale-blue: #e7f5fe;
	$subtle-pale-pink: #fcf0ef;

	.has-subtle-light-gray-background-color {
		background-color: $subtle-light-gray;
	}

	.has-subtle-pale-green-background-color {
		background-color: $subtle-pale-green;
	}

	.has-subtle-pale-blue-background-color {
		background-color: $subtle-pale-blue;
	}

	.has-subtle-pale-pink-background-color {
		background-color: $subtle-pale-pink;
	}

	// "Stripes" style variation.
	&.is-style-stripes {
		border-spacing: 0;
		border-collapse: inherit;
		background-color: transparent;

		tbody tr:nth-child(odd) {
			background-color: $text-light;
		}

		&.has-subtle-light-gray-background-color {
			tbody tr:nth-child(odd) {
				background-color: $text-light;
			}
		}

		&.has-subtle-pale-green-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-green;
			}
		}

		&.has-subtle-pale-blue-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-blue;
			}
		}

		&.has-subtle-pale-pink-background-color {
			tbody tr:nth-child(odd) {
				background-color: $subtle-pale-pink;
			}
		}

		th,
		td {
			border-color: transparent;
		}

		border-bottom: 1px solid $text-light;
	}
}
