.wp-block-quote {
	&.is-style-large,
	&.is-large {
		margin: 0 0 16px;
		padding: 0 1em;

		p {
			@include italic;
			font-size: $type-larger;
		}
	}

	cite,
	footer {
		font-size: $type-base;
		display: block;
		text-align: right;
	}
}
