.wp-block-cover {
	position: relative;
	background-color: $black;
	background-size: cover;
	background-position: center center;
	color: $text-light;
	min-height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	width: 100%;

	a {
		color: inherit;
	}

	&__image-background,
	&__video-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		object-fit: cover;
		outline: none;
		border: none;
		box-shadow: none;
		z-index: 0;
	}

	&.has-parallax {
		background-attachment: fixed;

		@supports (-webkit-overflow-scrolling: touch) {
			background-attachment: scroll;
		}

		@media (prefers-reduced-motion: reduce) {
			background-attachment: scroll;
		}
	}

	&.has-background-dim::before {
		content: "";
		background-color: inherit;
	}

	&.has-background-dim:not(.has-background-gradient)::before,
	.wp-block-cover__gradient-background {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
	}

	&.has-background-dim:not(.has-background-gradient)::before,
	& .wp-block-cover__gradient-background {
		opacity: 0.5;
	}


	@for $i from 1 through 10 {
		&.has-background-dim.has-background-dim-#{ $i * 10 } {
			&:not(.has-background-gradient)::before {
				opacity: $i * 0.1;
			}

			.wp-block-cover__gradient-background {
				opacity: $i * 0.1;
			}
		}
	}

	&.alignleft,
	&.alignright {
		max-width: $content-width / 2;
		max-height: unset;
	}

	&::after {
		display: block;
		content: "";
		font-size: 0;
		min-height: inherit;

		@supports (position: sticky) {
			content: none;
		}
	}

	&__inner-container {
		margin: 0 40px;
		width: 100%;
		z-index: 1;

		*:last-child {
			margin-bottom: 0;
		}

		.has-wrap & {
			max-width: 1200px;
		}
	}
}
