.editor-block-list__block[data-type="core/embed"][data-align="left"] .editor-block-list__block-edit,
.editor-block-list__block[data-type="core/embed"][data-align="right"] .editor-block-list__block-edit,
.wp-block-embed.alignleft,
.wp-block-embed.alignright {
	max-width: 360px;
	width: 100%;
}

.wp-block-embed {
	margin-bottom: 1em;

	figcaption {
		@include caption-style();
	}
}

.wp-embed-responsive {
	.wp-block-embed {

		// Add responsiveness to common aspect ratios.
		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper,
		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper,
		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper,
		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper,
		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper {
			position: relative;

			&::before {
				content: "";
				display: block;
				padding-top: 50%; // Default to 2:1 aspect ratio.
			}

			iframe {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
			padding-top: 42.85%; // 9 / 21 * 100
		}

		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before {
			padding-top: 50%; // 9 / 18 * 100
		}

		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before {
			padding-top: 56.25%; // 9 / 16 * 100
		}

		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before {
			padding-top: 75%; // 3 / 4 * 100
		}

		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before {
			padding-top: 100%; // 1 / 1 * 100
		}

		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before {
			padding-top: 177.78%; // 16 / 9 * 100
		}

		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before {
			padding-top: 200%; // 2 / 1 * 100
		}
	}
}
