.wp-block-latest-posts {
	&.alignleft {
		/*rtl:ignore*/
		margin-right: 2em;
	}

	&.alignright {
		/*rtl:ignore*/
		margin-left: 2em;
	}

	&.wp-block-latest-posts__list {
		list-style: none;
		margin: 0;

		li {
			clear: both;
		}
	}

	&.is-grid {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			list-style: none;
			margin: 0 16px 0 0;
			width: 100%;
		}
	}

	@media #{$mq-big} {
		@for $i from 2 through 6 {
			&.columns-#{ $i } li {
				width: calc((100% / #{ $i }) - 16px);
			}
		}
	}

	&__post-date,
	&__post-author {
		display: block;
		font-size: $type-base;
	}

	&__post-excerpt {
		margin-top: $grid-size;
		margin-bottom: $grid-size-large;
	}

	&__featured-image {
		img {
			height: auto;
			width: auto;
		}

		&.alignleft {
			/*rtl:ignore*/
			margin-right: 1em;
		}

		&.alignright {
			/*rtl:ignore*/
			margin-left: 1em;
		}

		&.aligncenter {
			margin-bottom: 1em;
			text-align: center;
		}
	}
}
