.wp-block-file {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4px 0;

	&__button {
		@include button(inline-block);
		@include button-colors($text,$white);
	}

	a#{&}__button {
		text-decoration: none;

		&:hover,
		&:visited,
		&:focus,
		&:active {
			box-shadow: none;
			opacity: 0.85;
			text-decoration: none;
		}
	}

	* + &__button {
		margin-left: 0.75em;
	}
}
