ul.wp-block-social-links {
	display: flex;
	justify-content: flex-start;
	padding-left: 0;
	padding-right: 0;
	margin: 0;

	.wp-social-link a,
	.wp-social-link a:hover {
		text-decoration: none;
		border-bottom: 0;
		box-shadow: none;
	}
}

.wp-social-link {
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 36px; // This makes it pill-shaped instead of oval, in cases where the image fed is not perfectly sized.
	margin-right: 8px;
	transition: transform 0.1s ease;

	a {
		padding: 6px;
		display: block;
		line-height: 0;
		transition: transform 0.1s ease;
	}

	a,
	a:hover,
	a:active,
	a:visited,
	svg {
		color: currentColor;
		fill: currentColor;
	}

	svg {
		width: unset;
		height: unset;
	}

	&:hover {
		transform: scale(1.1);
	}
}

// Center flex items. This has an equivalent in editor.scss.
// It also needs to override some of the default classes usually applied to the centering class.
.wp-block-social-links.aligncenter {
	justify-content: center;
	display: flex;
}


// Provide colors for a range of icons.
.wp-block-social-links:not(.is-style-logos-only) {
	.wp-social-link {
		background-color: #f0f0f0;
		color: #444;
	}

	@each $network,
	$background,
	$color,
	$stroke in $social-colors {
		.wp-social-link-#{$network} {
			background-color: #{$background};

			@if ($color) {
				color: #{$color};
			}

			@else {
				color: $white;
			}

			@if ($stroke) {
				stroke: $stroke;
			}
		}
	}
}

// Treatment for logos only style.
.wp-block-social-links.is-style-logos-only {
	.wp-social-link {
		background: none;

		// Make these bigger.
		padding: 4px;

		svg {
			width: 28px;
			height: 28px;
		}
	}

	@each $network,
	$background,
	$color,
	$stroke in $social-colors {
		@if ('yelp'==$network) {
			.wp-social-link-#{$network} {
				background-color: #{$background};
				color: $white;
			}
		}

		@else {
			.wp-social-link-#{$network} {
				color: #{$background};

				@if ($stroke) {
					stroke: $stroke;
				}
			}
		}
	}
}

// Treatment for pill shape style.
.wp-block-social-links.is-style-pill-shape {
	.wp-social-link {
		width: auto;
	}

	.wp-social-link a {
		padding-left: 16px;
		padding-right: 16px;
	}
}
