.wp-block-pullquote {
	padding: 3em 0;

	&.alignleft,
	&.alignright {
		max-width: 400px;

		> p {
			font-size: $type-large;
		}
	}

	> p {
		font-size: $type-larger;
	}

	cite,
	footer {
		position: relative;
	}
}
