.wp-block-image {
	margin-bottom: 1em;

	img {
		max-width: 100%;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignfull img,
	&.alignwide img {
		width: 100%;
	}

	.alignleft,
	.alignright,
	.aligncenter,
	&.is-resized {
		display: block;

		@supports (position: sticky) {
			display: table;
		}

		>figcaption {
			display: block;

			@supports (position: sticky) {
				display: table-caption;
				caption-side: bottom;
			}
		}
	}

	figcaption {
		@include caption-style();
	}
}

.is-style-circle-mask img {
	border-radius: 9999px;

	@supports (mask-image: none) or (-webkit-mask-image: none) {
		/* stylelint-disable */
		mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
		/* stylelint-enable */
		mask-mode: alpha;
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		border-radius: none;
	}
}
