.wp-block-latest-comments__comment {
	font-size: $type-small;
	list-style: none;
	margin-bottom: 1em;

	.has-avatars & {
		min-height: 36px;
		list-style: none;

		.wp-block-latest-comments__comment-meta,
		.wp-block-latest-comments__comment-excerpt {
			margin-left: 52px;
		}
	}

	.has-dates &,
	.has-excerpts & {
		line-height: 1.5;
	}
}

.wp-block-latest-comments__comment-excerpt p {
	font-size: $type-small;
	margin: 5px 0 20px;
}

.wp-block-latest-comments__comment-date {
	color: $text;
	display: block;
	font-size: $type-smaller;
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	border-radius: 24px;
	display: block;
	float: left;
	height: 40px;
	margin-right: 12px;
	width: 40px;
}
