.wp-block-separator {
	&:not(.is-style-wide):not(.is-style-dots) {
		max-width: 100px;
	}

	// Wide style
	&.is-style-wide {
		border-bottom-width: 1px;
	}

	// Dots style
	&.is-style-dots {
		background: none !important;
		border: none;
		text-align: center;
		max-width: none;
		line-height: 1;
		height: auto;

		&::before {
			content: "\00b7 \00b7 \00b7";
			color: currentColor;
			font-size: 20px;
			letter-spacing: 2em;
			padding-left: 2em;
			font-family: serif;
		}
	}

	&.has-background {
		padding: 0;

		&:not(.is-style-dots) {
			height: 1px;
		}
	}
}
