.wp-block-search {
	display: flex;
	align-items: center;

	&__label {
		@include screen-reader-text;
	}

	&__input {
		flex-grow: 1;
		max-width: 360px;
	}

	&__button {
		margin: 0 0 0 10px;
		flex: 1 0 auto;
	}
}
