.wp-block-gallery {
	--block-gallery-grid-size: #{$grid-size-small};
}

ul {

	&.wp-block-gallery,
	&.blocks-gallery-grid {
		margin-left: 0 !important;
		padding: 0;
	}
}

.wp-block-gallery,
.blocks-gallery-grid {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	gap: $grid-size-small;
	gap: var(--block-gallery-grid-size);

	.blocks-gallery-item {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		position: relative;

		figure {
			margin: 0;
			height: 100%;

			@supports (position: sticky) {
				display: flex;
				align-items: flex-end;
				justify-content: flex-start;
			}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			width: 100%;

			@supports (position: sticky) {
				width: auto;
			}
		}

		figcaption {
			position: absolute;
			width: 100%;
			max-height: 100%;
			overflow: auto;
			padding: 40px 10px 5px;
			color: $white;
			text-align: center;
			font-size: $type-base;
			background: linear-gradient(0deg, rgba($color: $black, $alpha: 0.7) 0, rgba($color: $black, $alpha: 0.3) 60%, transparent);

			img {
				display: inline;
			}
		}
	}

	&.is-cropped li {

		a,
		img {
			width: 100%;

			@supports (position: sticky) {
				height: 100%;
				flex: 1;
				object-fit: cover;
			}
		}
	}

	& li {
		width: calc(50% - (2 * #{$grid-size-small}));
		width: calc(50% - (2 * var(--block-gallery-grid-size)));

		&:nth-of-type(even) {
			margin-right: 0;
		}
	}

	&.columns-1 li {
		width: 100%;
		margin-right: 0;
	}

	@media #{$mq-big} {
		@for $i from 3 through 8 {
			$width: 100% / #{ $i };

			&.columns-#{ $i } li {
				width: calc(#{$width} - (2 * #{$grid-size-small}));
				width: calc(#{$width} - (2 * var(--block-gallery-grid-size)));

				@supports (-ms-ime-align:auto) {
					width: calc((100% - #{ var(--block-gallery-grid-size) } * #{ $i - 1 }) / #{ $i } - 1px);
				}
			}
		}

		@for $column-count from 1 through 8 {

			&.columns-#{ $column-count } li:nth-of-type(#{ $column-count }n) {
				margin-right: 0;
			}
		}
	}

	.blocks-gallery-item {
		&.has-add-item-button {
			width: 100%;
		}
	}

	li:last-child {
		margin-right: 0;
	}
}
