.wp-block-button {
	color: $white;

	&:not(:last-child) {
		margin-bottom: 1.5em;
	}

	&.alignleft {
		text-align: left;
	}

	&.alignright {
		text-align: right;
	}

	&__link {
		@include button;
		background-color: $text;
		border: none;
		color: inherit;
		border-radius: 0;
		text-align: center;
		text-decoration: none;
		white-space: normal;
		overflow-wrap: break-word;

		.is-style-outline & {
			border: 2px solid;
			border-radius: 0;
		}

		&:not(.has-background) {
			.is-style-outline & {
				background-color: transparent;

				&:hover {
					background-color: $text;
				}
			}
		}

		&:not(.has-text-color) {
			.is-style-outline & {
				color: $text;

				&:hover {
					color: $white;
				}
			}
		}

		.is-style-rounded & {
			border-radius: 2em;
		}

		.alignleft &,
		.alignright & {
			display: inline-block;
		}
	}
}

.is-style-wide,
.is-style-wide .wp-block-button__link {
	display: block;
	width: 100%;
}
