@each $slug, $color in $colors {
	.has-#{$slug}-background-color {
		background-color: #{$color};
	}

	.has-#{$slug}-color {
		color: #{$color};
	}
}

@each $slug, $color in $colors {
	.wp-block-button__link.has-#{$slug}-background-color {
		//border-color: #{$color};
	}
}

