.wp-block-preformatted {
	pre {
		font-family: monospace;
		color: $text;

		/* Fonts smaller than 16px causes mobile safari to zoom. */
		font-size: $type-base;

		@media #{$mq-small} {
			font-size: $type-small;
		}
	}
}
