.wp-block-buttons {
	display: flex;
	flex-wrap: wrap;

	.wp-block-button {
		display: block;
		margin: $grid-size-small;
	}

	&.aligncenter,
	&.is-content-justification-center {
		justify-content: center;
	}

	&.alignright,
	&.is-content-justification-right {
		justify-content: flex-end;
	}

	&.alignleft,
	&.is-content-justification-left {
		justify-content: flex-start;
	}
}
