$custom_columns: ('75',
	'66.66',
	'50',
	'33.33',
	'25',
);

.wp-block-columns {
	display: flex;
	flex-wrap: wrap;

	&.is-style-not-stacked {
		flex-wrap: nowrap;

		.wp-block-column:not(:first-child) {
			margin-left: $grid-size-large;
		}
	}

	&.has-background {
		padding: 40px;
	}

	@media #{$mq-big} {
		flex-wrap: nowrap;

		&.alignfull {
			padding-right: 5vw;
			padding-left: 5vw;
		}
	}
}

.wp-block-column {
	flex-grow: 1;

	// Responsiveness: Show at most one columns on mobile.
	flex-basis: 100%;

	// Prevent the columns from growing wider than their distributed sizes.
	min-width: 0;

	// Prevent long unbroken words from overflowing.
	word-break: break-word; // For back-compat.
	overflow-wrap: break-word; // New standard.

	@media #{$mq-small-only} {
		flex-basis: 100% !important;

		&:not(:last-of-type) {
			margin-bottom: 2em;
		}
	}

	@media #{$mq-small} {

		// Beyond mobile, allow 2 columns.
		flex-basis: calc(50% - #{$grid-size});

		// Add space between the 2 columns. Themes can customize this if they wish to work differently.
		// Only apply this beyond the mobile breakpoint, as there's only a single column on mobile.
		&:nth-child(even) {
			margin-left: $grid-size-large;
		}

		// Compensate for the inline styles on custom columns.
		@each $width in $custom_columns {
			&[style="flex-basis:#{$width}%"] {
				max-width: calc(#{$width}% - #{$grid-size});
			}
		}
	}

	@media #{$mq-big} {
		flex-basis: 0;
		flex-grow: 1;
		margin-bottom: 0;

		&[style] {
			flex-grow: 0;
		}

		// When columns are in a single row, add space before all except the first.
		&:not(:first-child) {
			margin-left: $grid-size-large;
		}
	}
}

.has-1-columns {
	justify-content: center;

	.wp-block-column {
		flex-grow: 1;
		max-width: $content-width;
	}
}

/**
 * All Columns Alignment
 */
.wp-block-columns {
	&.are-vertically-aligned-top {
		align-items: flex-start;
	}

	&.are-vertically-aligned-center {
		align-items: center;
	}

	&.are-vertically-aligned-bottom {
		align-items: flex-end;
	}
}

/**
 * Individual Column Alignment
 */
.wp-block-column {
	&.is-vertically-aligned-top {
		align-self: flex-start;
	}

	&.is-vertically-aligned-center {
		align-self: center;
	}

	&.is-vertically-aligned-bottom {
		align-self: flex-end;
	}
}
